CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3000

# http://dashboard.stripe.com/test/workbench/overview
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1RNg02E41UapIAPn78bZ6zfK
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=